@use '@/App/styles/mixins/fontMixins' as mixins;

.clockSection {
    width: 100%;
    padding: 5vh 10vw;

    display: flex;
    flex-direction: column;
    gap: 64px;

    .title {
        @include mixins.heading;

        &__primary {
            color: var(--color-primary);
            font-weight: 600;
        }
    }

    .watchBlock {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 64px;
    }

    .buttonsBlock {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.modal_title {
    @include mixins.title;
}

.modal_availableTimezonesBlock {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
