:root {
    --font-montserrat: 'Montserrat', sans-serif;

    --weight-bold: 700;
    --weight-regular: 400;

    --letter-spacing: 120%;
    --line-height: 120%;

    //  Desktop
    --font-size-logo-text: 28px;
    --font-size-logo-text__small: 20px;
    --font-size-heading: 40px;
    --font-size-subheading: 24px;
    --font-size-title: 32px;
    --font-size-description: 20px;
    --font-size-date: 14px;
    --font-size-button: 20px;
    --font-size-text-label: 16px;
}
